.e_article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 0 8px black;
    padding: 10px 40px;
}
.e_list{
 list-style: none;
 font-size: 20px;
 
}
.e_item{
    padding: 10px 0px;
    text-align: left;
}
.e_span{
    font-weight: 600;
    background-color: hsl(60, 58%, 73%); 
    padding: 5px 10px;
    box-shadow: 0 0 8px black;
    margin-right: 10px;
    border-radius: 15px;
    text-decoration: ;
}
.e_list-vacuna{
    margin-left: 40px;
}

.inyeccion{
    background-image: url('https://i.pinimg.com/474x/73/b9/ba/73b9ba079e03c26191f0dfb4cdbc2580.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 400px;
    margin: 10px;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: 0 0 8px black;
}
.form_employee{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    background-color: rgba(128, 128, 128, 0.16);
    position: absolute;
    top: 0;
    left: 0;
}
.form_ul{
 display: flex;
 flex-direction: column;
 list-style: none;
 margin: auto;
}
.active_form{
    display: none;
}
.form_vacuna-label{
    margin-left: 100px;
}
